<div class="container-fluid py-3">
    <form [formGroup]="reactiveForm" (ngSubmit)="onSubmit()">
        <div class="row my-3">
            <div class="col">
                <label class="form-label">Password</label>
                <input type="email" class="form-control form-control-sm" placeholder="Password" formControlName="password">
                @if (password?.invalid && (password?.dirty || password?.touched)) {
                    <div class="alert alert-danger">
                        @if (password?.hasError('required')){
                            <div>
                                Password is required.
                            </div>
                        }
                    </div>
                }
            </div>
        </div>
        <div class="row my-3">
            <div class="col">
            <button class="btn btn-primary" type="submit" [disabled]="!reactiveForm.valid">Submit</button>
            </div>
        </div>
    </form>
    <div class="row my-3">
      <div class="col">
        <label class="form-label">Encrypted Password</label>: 
        <input class="form-control form-control-sm" [formControl]="encryptedPassword">
      </div>
    </div>
  </div>